@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

#quiz {
    font-family: 'Open Sans', sans-serif, Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    *:focus {
        outline: none;
        box-shadow: none;
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 100px white inset;
        -webkit-text-fill-color: black;
        box-shadow: 0 0 0 100px white inset;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    p {
        margin-block-end: 0;
    }

    ul[role='list'],
    ol[role='list'] {
        list-style: none;
    }

    body {
        min-height: 100vh;
        line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    button,
    input,
    label {
        line-height: 1.1;
    }

    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
    }

    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }

    img,
    picture {
        max-width: 100%;
        display: block;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    textarea:not([rows]) {
        min-height: 10em;
    }

    :target {
        scroll-margin-block: 5ex;
    }

    /* Container */

    .quiz-container {
        background-color: #efbdbd;
        max-width: 100%;
        margin: 0 auto;
        position: relative;

        @media screen and (min-width: 480px) {
            max-width: 800px;
            margin: 0 auto;
            overflow: hidden;
        }

        &::after {
            content: '';
            background: linear-gradient(to bottom, rgba(3, 166, 150, 0) 0%, rgba(2, 38, 164, 0.25) 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            pointer-events: none;
        }
    }

    /* Quiz Start */

    .quiz-start {
        background: transparent url('./assets/start-icons-mobile.png') 50% 0 no-repeat;
        background-size: contain;
        width: 100%;
        position: relative;
        z-index: 2;
        height: 700px;

        @media screen and (min-width: 480px) {
            background: transparent url('./assets/start-icons-desktop.png') 50% 0 no-repeat;
            background-size: contain;
        }

        .quiz-start__content-bg {
            display: grid;
            grid-column: span 4;
            gap: 18px;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
            height: 581px;
            align-self: end;

            @media screen and (min-width: 480px) {
                grid-column: span 12;
                gap: 20px;
                grid-template-columns: repeat(12, 1fr);
                width: 100%;
                height: 545px;
                align-self: end;
                position: relative;
            }
        }

        .oval {
            position: absolute;
            height: 602px;
            width: 800px;
            object-fit: cover;
            left: 50%;
            transform: translateX(-50%);
        }

        .oval-mobile {
            position: absolute;
            height: 581px;
            width: 100%;
            object-fit: cover;
            left: 50%;
            transform: translateX(-50%);
        }

        .curved-text {
            font-family: 'Luckiest Guy';
            font-size: calc(9vw + 1px);
            font-size: min(calc(9vw + 1px), 70px); /* Caps the size at 70px */
            letter-spacing: 0.8px;

            @media screen and (min-width: 480px) {
                letter-spacing: 1.5px;
            }
        }

        .quiz-start__content {
            grid-column: span 4;
            margin-bottom: 60px;
            align-self: end;
            text-align: center;
            position: relative;
            z-index: 3;

            @media screen and (min-width: 480px) {
                grid-column: span 8 / span 8; /* Span 8 columns */
                grid-column-start: 3; /* Start at the 3rd column */
                align-self: end;
                margin-bottom: clamp(10px, 9vw, 80px);
            }
        }

        .quiz-start__content-intro {
            font-size: 14px;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings: 'wdth' 100;
            color: #000000;
            padding: 0 25px 40px 25px;

            @media screen and (min-width: 480px) {
                padding: 0 20px 70px 20px;
            }
        }
    }

    /* Status */

    .quiz-status {
        .quiz-status__header {
            font-family: 'Luckiest Guy';
            font-size: 32px;
            grid-column: span 4;
            padding: 70px 18px 0 18px;

            @media screen and (min-width: 480px) {
                grid-column: span 10 / span 10;
                grid-column-start: 2; /* Start at the 3rd column */
                padding: 70px 0 0 0;
                font-size: clamp(32px, 5vw, 40px);
            }
        }

        .quiz-staus__content-bg {
            grid-column: span 4;
            background: transparent url('./assets/satrt-bg-mobile-only.png') 50% 0 no-repeat;
            background-size: cover;
            z-index: 2;
            height: 533px;
            display: flex;
            align-items: center;
            align-self: end;
            padding: 0 20px;

            @media screen and (min-width: 480px) {
                display: grid;
                grid-column: span 12;
                background: transparent url('./assets/satrt-bg-desktop-only.png') 50% 0 no-repeat;
                background-size: cover;
                position: relative;
                z-index: 2;
                height: 489px;
                padding: 0 32px;
            }
        }

        .quiz-staus__content {
            display: flex;
            width: 100%;
            flex-direction: column;
            height: 100%;
            padding-top: 50px;
        }

        .quiz-staus__content-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 320px;
            margin-top: auto;

            @media screen and (min-width: 480px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                width: 444px;
                margin-top: auto;
            }
        }

        .quiz-staus__content-controls {
            display: flex;
            align-self: flex-end;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 100%;
            margin-top: auto;
            margin-bottom: 60px;

            @media screen and (min-width: 480px) {
                display: flex;
                align-self: flex-end;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                margin-top: auto;
                margin-bottom: 60px;
                width: 481px;
            }
        }
    }

    .quiz-question {
        background: transparent url('./assets/question-bg.png') top right no-repeat;
        background-size: cover;
        position: relative;
        padding: 20px;
        z-index: 2;
        height: 100%;

        @media screen and (min-width: 480px) {
            padding: 42px 32px;
        }

        .quiz-question__icon {
            grid-column: span 4;
            position: relative;
            justify-content: center;
            align-items: center;
            display: flex;

            @media screen and (min-width: 480px) {
                grid-column: span 3;
                align-items: initial;
            }

            .quiz-question__icon-image {
                @media screen and (min-width: 480px) {
                    position: relative;
                    left: -47px;
                }

                img {
                }

                .quiz-question__icon-number {
                    display: none;

                    @media screen and (min-width: 480px) {
                        display: inline-block;
                        font-family: 'Luckiest Guy';
                        color: #ec2285;
                        font-size: 24px;
                        position: absolute;
                        top: 56px;
                        right: -24px;
                    }
                }
            }
        }

        .quiz-question__item {
            grid-column: span 4;

            @media screen and (min-width: 480px) {
                grid-column: span 9;
            }
        }

        .quiz-question__item-category {
            font-family: 'Luckiest Guy';
            background-color: #ffffff;
            color: #ec2285;
            font-size: 16px;
            width: fit-content;
            padding: 7px 8px 3px 8px;
            border-radius: 4px;
            margin-bottom: 5px;
        }

        .quiz-question__item-question {
            font-family: 'Luckiest Guy';
            font-size: 22px;
            color: #000000;
            margin-bottom: 10px;
            white-space: break-spaces;

            @media screen and (min-width: 480px) {
                font-size: 40px;
            }

            span {
                font-family: 'Luckiest Guy';
                color: #ec2285;

                @media screen and (min-width: 480px) {
                    display: none;
                }
            }
        }

        .quiz-question__item-answer {
            font-size: 16px;
            color: #000000;
            background-color: #ffffff;
            box-shadow: 8px 8px 25px rgba(236, 34, 133, 0.25); /* Added drop shadow */
            border: 1px solid #ffffff;
            display: inline-block;
            width: 100%;
            text-align: left;
            padding: 10px;
            margin-bottom: 12px;
            cursor: pointer;

            &:hover {
                background-color: #fbebf3;
                border: 1px solid #fbebf3;
            }

            &.is-selected {
                background-color: #fbebf3;
                border: 1px solid #ec2285;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .quiz-question__pagination {
            grid-column: span 4;
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-self: flex-end;

            @media screen and (min-width: 480px) {
                grid-column: span 9 / span 9;
                grid-column-start: 4; /* Start at the 3rd column */
            }
        }
    }

    .quiz-results {
        padding: 20px;
        position: relative;
        overflow: hidden;

        @media screen and (min-width: 480px) {
            padding: 42px 32px;
        }

        h1 {
            grid-column: span 4;
            font-family: 'Luckiest Guy';
            font-size: 42px;
            color: #000000;
            margin: 0;

            @media screen and (min-width: 480px) {
                grid-column: span 12;
                font-size: 54px;
            }
        }

        .quiz-results__restart-btn {
            position: absolute;
            top: 20px;
            right: 20px;

            @media screen and (min-width: 480px) {
                top: 37px;
                right: 37px;
            }
        }

        .quiz-results__graph {
            grid-column: span 4;
            display: flex;
            align-items: center;
            margin-top: 20px;

            @media screen and (min-width: 480px) {
                grid-column: span 11;
            }

            @media screen and (min-width: 740px) {
                grid-column: span 12;
            }

            .quiz-results__graph-heart {
                background-color: #ffffff;
                width: 98px;
                height: 98px;
                display: inline-block;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 3;

                svg {
                    width: 58px;
                }
            }

            .quiz-result__graph-lines {
                display: inline-block;
                max-width: 433px;
                height: 77px;
                position: relative;
                left: -15px;
                z-index: 2;
                display: flex;
                align-items: center;
                width: 100%;
            }

            .quiz-result__graph-bars {
                height: 50px;
                width: calc(100% - 32px);
                display: flex;
                flex-direction: column;
                position: relative;
            }

            .quiz-result__graph-bar {
                height: 21px;
                background-color: #ffffff;
                margin-bottom: 8px;
                display: flex;
                align-items: center;
                position: relative;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .quiz-result__graph-result {
                background-color: #ec2285;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                height: 100%;
            }

            .quiz-result__graph-bar-title {
                color: #ffffff;
                font-size: 9px;
                font-weight: bold;
                margin-left: 20px;
                position: relative;
                z-index: 3;
            }

            .quiz-result__graph-bar-marker {
                font-size: 11px;
                color: #000000;
                position: absolute;
                top: 0;
                border-left: 1px dashed #000000;
                height: 100%;
                z-index: 10;
                display: flex;
                align-items: flex-end;

                &-low {
                    left: 33%;
                }

                &-medium {
                    left: 66%;
                }

                &-high {
                    border-left: 2px solid #000000;
                    left: 100%;
                }

                span {
                    position: relative;
                    bottom: -24px;
                }
            }
        }

        .quiz-results__tab-controls {
            display: flex;
            grid-column: span 4;

            @media screen and (min-width: 480px) {
                grid-column: span 12;
            }

            .quiz-results__tab-controls-btn {
                flex: 0 0 50%;
                padding: 10px;
                background-color: transparent;
                font-family: 'Luckiest Guy';
                font-size: 16px;
                color: #000000;
                border: none;
                border-bottom: 2px solid #ec2285;
                opacity: 0.5;
                cursor: pointer;

                &--active {
                    opacity: 1;
                }
            }
        }

        .quiz-results__tab-content {
            grid-column: span 4;
            position: relative;

            @media screen and (min-width: 480px) {
                grid-column: span 12;
            }

            &::before {
                content: '';
                background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                position: absolute;
                top: -19px;
                left: -32px;
                height: 120%;
                width: 120%;
                opacity: 0.5;
                z-index: 2;
            }

            .quiz-results__tab-content-inner {
                position: relative;
                z-index: 3;
                min-height: auto !important;

                .quiz-results__tab-content-header {
                    grid-column: span 3;

                    h2 {
                        font-family: 'Luckiest Guy';
                        font-size: 32px;
                        color: #000000;
                        position: relative;
                        display: inline-block;
                        padding-bottom: 10px;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 50%;
                            height: 4px;
                            background-color: #ec2285;
                        }
                    }
                }

                .quiz-results__tab-content-body {
                    font-size: 14px;
                    grid-column: span 9;
                }
            }
        }
    }

    .quiz-grid {
        display: grid;
        gap: 18px;
        grid-template-columns: repeat(4, 1fr);

        @media screen and (min-width: 480px) {
            gap: 20px;
            grid-template-columns: repeat(12, 1fr);
        }
    }

    .btn {
        background-color: transparent;
        font-size: 14px;
        color: #ec2285;
        border: 1px solid #ec2285;
        border-radius: 50px;
        min-width: 150px;
        max-width: 169px;
        cursor: pointer;
        padding: 2px;
        box-shadow: 8px 8px 25px rgba(236, 34, 133, 0.25);

        @media screen and (min-width: 480px) {
            max-width: none;
            width: 225px;
        }

        .btn__inner {
            background-color: #ffffff;
            display: flex;
            padding: 14px 10px;
            border: 2px solid transparent;
            width: 100%;
            border-radius: 50px;
            font-weight: bold;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: 480px) {
                padding: 14px 20px;
            }

            &:hover {
                background-color: #fbebf3;
            }

            svg {
                position: relative;
                top: 1px;
            }
        }
    }

    .btn__round {
        font-weight: bold;
        font-size: 18px;
        background-color: transparent;
        width: 112px;
        height: 112px;
        color: #ec2285;
        font-weight: 700;
        border: 1px solid #ec2285;
        border-radius: 100%;
        cursor: pointer;
        padding: 2px;
        box-shadow: 8px 8px 25px rgba(236, 34, 133, 0.25); /* Added drop shadow */

        @media screen and (min-width: 480px) {
            font-weight: bold;
            font-size: 18px;
            background-color: transparent;
            width: 180px;
            height: 180px;
            color: #ec2285;
            font-weight: 700;
            border: 1px solid #ec2285;
            border-radius: 100%;
            cursor: pointer;
            padding: 2px;
            box-shadow: 8px 8px 25px rgba(236, 34, 133, 0.25); /* Added drop shadow */
        }

        &--small {
            font-size: 14px;
            width: 94px;
            height: 94px;
            @media screen and (min-width: 480px) {
                font-size: 14px;
                width: 112px;
                height: 112px;
            }

            .btn__round-inner-svg {
                max-height: 40% !important;
                max-width: 40% !important;
            }
        }

        .btn__round-inner {
            background-color: #ffffff;
            display: flex;
            border: 2px solid transparent;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            font-weight: bold;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            &:hover {
                background-color: #fbebf3;
            }

            &:active {
                background-color: #f5cee0;
            }
        }

        &.is-selected {
            .btn__round-inner {
                background-color: #f5cee0;
            }
        }

        .btn__round-inner-svg {
            max-height: 40%;
            max-width: 40%;

            @media screen and (min-width: 480px) {
                max-height: 50%;
                max-width: 50%;
            }
        }

        .btn__round-inner-text {
            margin-bottom: 8px;
        }
    }
}

.loading {
    visibility: hidden;
}
